<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="qm_testEntities" connectionString="metadata=res://*/DAL.Model_qmtest.csdl|res://*/DAL.Model_qmtest.ssdl|res://*/DAL.Model_qmtest.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=admin1234;database=qm_test&quot;" providerName="System.Data.EntityClient" />
    <add name="qm_testEntities1" connectionString="metadata=res://*/DAL.Model_qmtest.csdl|res://*/DAL.Model_qmtest.ssdl|res://*/DAL.Model_qmtest.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=admin1234;database=qm_test&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>